# Node.js & Dependency Management
/node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Expo & React Native specific
.expo/
.expo-shared/
/ios/Pods/
/ios/build/
/android/app/build/
/android/.gradle/
web-build/
local-cli-config.json
.metro-cache/

# Build & Distribution Artifacts
/build/
/dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
/eas-build-pre-upload.tar.gz

# Environment variables
.env
.env.local
.env.*.local

# Logs & Temporary Files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# IDE & Editor Configuration
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript & JavaScript build outputs
*.js.map
*.tsbuildinfo

# Test & Coverage Reports
coverage/
.nyc_output/